<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Todos los Productos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Por Precio</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">Por Popularidad</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">Por Categoria</a>
                <a href="{% url 'products' %}" class="dropdown-item">Todos los Productos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Abarrotes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Gourmet</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Frutas & Verduras</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Despensa</a>
                <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">Todos los Abarrotes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pasteles & Pan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Por Pasteles</a>
                <a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Por Panaderia</a>
                <a href="{% url 'products' %}?category=bed_bath,kitchen_dinning" class="dropdown-item">Todos los Pasteles & Pan</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ofertas Especiales
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">Nuevos Productos</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Ofertas</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">Todos las Ofertas</a>
            </div>
        </li>

    </ul>
</div>