<!-- make the same changes on every other template in the account folder: account_inactive, email_confirm ... etc  -->

{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

<!-- rename its content block to inner_content (base.html) -->
{% block inner_content %}

<!-- I'll adjust the header slightly by making it an h2 giving it our own classes and adding a couple
    horizontal rules around it -->
<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  <!-- We can use crispy forms to render the form instead of rendering it as a paragraph -->
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <!-- I'll add a home button and wrap the forgot password link in a paragraph. -->
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>

  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  <p class="mt-2">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>

{% endblock %}